venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
.git/
.gitignore
.env
.env.example
*.log
db.sqlite3
db.sqlite3-journal
media/
staticfiles/
faiss_index/
faise_index/
node_modules/
.vscode/
.idea/
.DS_Store
README.md